/* Default styles */
* {
    box-sizing: border-box;
  }
  body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .flex {
    display: flex;
    gap: 1rem;
  }
  .grid {
    display: grid;
    gap: 1rem;
  }
  .container {
    width: 90%;
    margin: auto;
  }
  
  
  a {
    text-decoration: none;
    color: inherit;
  }
  .title{
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;

  }
  
  /* <!-- checkbox section  --> */
  :root {
    --color-orange: #ff5c00;
    --color-dark: #2a2a2a;
  
    --body-bg: #fff;
    --text-color: var(--color-dark);
    --border-color: var(--color-dark);
  
    /* for dark mode */
    --dark-bg: var(--color-dark);
    --dark-text-color: #fff;
    --dark-border-color: #fff;
  }
  
  .wrapper {
    background: var(--body-bg);
    min-height: 100vh;
    color: var(--text-color);
  }
  
  #darkMode{
    position: fixed;
    top: 6rem;
    left: 2rem;
    display: none;
  }
  .dark-mode-toggle {
    position: fixed;
    top: 8rem;
    left: 3rem;
  }
  #darkMode:hover{
    transform: scale(1.5);
    cursor: pointer;
    transition: all 0.5s;
  }
  
  /* dark more activation */
  #darkMode:checked + .wrapper {
    background: var(--dark-bg);
    min-height: 100vh;
    
    color: var(--dark-text-color);
    --border-color:var(--dark-border-color);
    
  }
  
  /* <!-- Header section  --> */
  header {
    box-shadow: 0 0 10px 5px grey;
    position: sticky;
    top: 0;
    background: var(--body-bg);
  }
  .header {
    justify-content: space-between;
    align-items: center;
  }
  .logo{
    justify-content: center;
    align-items: center;
    gap: 3rem;
    position: relative;
  }
  .logo > div:nth-child(1) h1{
    font-size: 1.8rem;
  }
  .line{
    font-size: 1rem;
  }
  .line::before{
    content: "";
    width: 4px;
    height:50%;
    left:50%;
    background: var(--color-orange);
    position:absolute;
  }
  
  #check,
  .menu-icon {
    display: none;
  }
  
  .navigation {
    list-style: none;
  }
  .navigation li a:hover{
    color: var(--color-orange);
    transition: all 0.5s;
  }
  
  /* <!-- hero section  --> */
  .hero-section{
    padding-top:10rem ;
    color: var(--body-bg);
  }
  .hero{
    background: var(--color-orange);
    padding: 0 2rem;
    display: grid;
    grid-template-areas: "left right";
  }
  .left{
    grid-area: left;
    flex-direction: column;
    justify-content: center;
    padding-left:10vw ;
  }
  .left .name{
    font-size: 1.3rem;
    font-weight: bold;
  }
  .left .tag{
    font-size: 2.2rem;
    font-weight: bold;
    letter-spacing: 5px;
  }
  .left button{
    padding: 0.8rem 2rem;
    border: none;
    background: var(--color-dark);
    border-radius: 2rem;
    color: var(--body-bg);
    font-size: 1.1rem;
  }
  .left button i{
    color: var(--color-orange);
  }
  .right{
    grid-area: right;
    justify-content: center;
    align-items: center;
    margin-top: -4rem;
  }
  .right img {
    height: 115%;
    
  }
  /* <!-- Banner section  --> */
  .banner{
    margin-top: 7rem;
    border: 2px solid var(--border-color);
    border-radius: 100px;
    min-height: 7rem;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    
  }
  .banner .info-content .icon-container{
    background: var(--color-orange);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
  }
  .banner .info-content .icon-container i{
    color: #fff;
    font-size: 1.3rem;
  }
  .banner .info-content  span{
    font-weight: bolder;
    font-size: 1.3rem;
    letter-spacing: 2px;

  }
  .banner .info-content p{
    color: var(--color-orange);
  }
  .banner .info-divider{
    width:2px;
    height: 50px;
    background: grey;
    
  }


  /* <!-- Skills section  --> */
  .skills{
    padding-top: 7rem;
    font-size: 2rem;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
  }
  .skills> div{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .skills> div i{
    color: #ff5c00;
  }


  /* <!-- Projects section  --> */
  .projects {
    margin-top: 3rem;
    padding: 7rem 0;
  }
  
  .projects .projects-container {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
    margin-top: 4rem;
  }
  
  .projects .projects-container .project-card {
    flex-direction: column;
  
    border: 2px solid rgba(0, 0, 0, 0.03);
    box-shadow: -1px 4px 10px 8px rgba(0, 0, 0, 0.33);
    border-radius: 5px;
  }
  
  .projects .projects-container .project-card img {
    width: 100%;
  }
  /* <!-- About me section  --> */
  .aboutme{
    align-items: center;
    flex-direction: column;
  }
  .about{
    justify-content: space-around;
    gap: 2rem;
  }
  .about-text-intro h3{
    font-size: 30px;
  }
  .about-text{
    align-items:flex-start;
    flex-direction: column;
  }


  .about-img img{
    height: 30rem;
  }
  /* <!-- Contact me section  --> */
  .contact{
    justify-content: center;
    margin-top: 2rem;
  }
  .logos{
    column-gap: 10rem;
    font-size: 2rem;
    padding: 5rem 5rem;
  }
  /* email section */
  .email{
    flex-direction: column;
    justify-content: center;
  }
  .email-text{
    margin-top: 2rem;

    
  }
  .email-link {
    justify-content: center;
    align-items: center;
    background: var(--color-dark);
    color: var(--body-bg);
    border-radius: 30px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 4rem;
    margin-left: 17rem;
    margin-right: 17rem;
    
    
  }

  .email-link span:nth-child(2){
    background-color: #ff5c00;
    padding:5px;
    border-radius:56%;
    
  }
  /* <!-- footer section --> */
  .footer{
    background: black;
    color: #fff;
    padding:3rem;
    margin-top: 2rem;
    flex-direction: column;
    
    align-items: center;


  }
  .footer .top{
    justify-content: centre;
    gap: 6rem;
  }
  .footer .top ul{
    list-style: none;
    padding-left:0;
    line-height: 2rem;
  }
  
  .bottom{
    margin-top:2rem;
  }